{% extends "base.html.twig" %}
{% set searchplaceholder = null %}
{% block body %}
    <div class="card">
        <div class="card-body">
            {{ g_texts.getText("g.home")|raw }}
        </div>
    </div>

    <!--<div class="row">
        <a href="{{ path('LinkShortener') }}" class="btn btn-primary">Raccourcisseur de liens :)</a><br />
    </div>-->
    <br />
    <div class="row">
        <div class="col-md-8">
            {% include 'Article_min_display.html.twig'  with {'lastArticle': true }%}
            <div class="card my-4">
                <h5 class="card-header">
                    {% trans %}card.someprojects{% endtrans %}
                </h5>
                <div class="card-body">
                    <div class="row">
                    {% for Project in Projects %}
                        <div class="col-md-6">
                            {% include 'Projects_display.html.twig' %}
                        </div>
                        <div class="col-md-offset-1"></div>
                    {% endfor %}
                    </div>
                    <a href="{{ path('Projects') }}" class="btn btn-primary">{% trans %}button.seeallprojets{% endtrans %} ({{ ProjectsNumbers }})&nbsp;&rarr;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card">
                <h5 class="card-header">{% trans %}card.search{% endtrans %}</h5>
                <div class="card-body">
                   <div id="SearchDiv">
                   </div>
                </div>
            </div>
            <div class="my-4">
                <div class="card ">
                    <h5 class="card-header">Twitter</h5>
                    <a class="twitter-timeline"
                       href="https://twitter.com/guigur_com"
                       data-height="1000"
                       data-lang="{{ app.request.getLocale() }}"
                       data-chrome="noheader nofooter noborders transparent"
                       {%  if app.request.cookies.get('dark') == "true" %} data-theme=dark {% endif %}
                       data-chrome="nofooter"
                       data-background-color="#FF0000">
                       {% trans %}twitter.tb{% endtrans %}&nbsp;@guigur_com
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- <img class="imgViewer" src="{{ asset("img/article_default.png") }}"> -->

    <!--
    <div class="col-md-12">
        Content
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#guigurModal">
            Launch demo modal
        </button>
    </div>
    -->

    <div class="d-md-none phone-footer-spacer">
    </div>
{% endblock %}
{% block js %}
    <script>

        /****************************/
        var $image = $('.imgViewer');
        $image.viewer({});
        // Get the Viewer.js instance after initialized
        var viewer = $image.data('viewer');
        // View a list of images
        $('#images').viewer();
        /*****************************/

        var numOfResult = -1;

        initSearch();

        function resultWord(nor)
        {
            if (nor === 1)
                return ("Résultat");
            else
                return ("Résulats");
        }

        function resultColor(nor)
        {
            var selector = $('#searchMessage span:first-child');
            if (nor === 0)
            {
                selector.removeClass("text-primary");
                selector.addClass("text-danger");
            }
            else
            {
                selector.removeClass("text-danger");
                selector.addClass("text-primary");
            }
        }

        function displayResults()
        {
            if (numOfResult >= 0)
            {
                $('#searchMessage').removeClass('d-none');
                $('#searchMessage span:first-child').html(numOfResult);
                $('#searchMessage span:nth-child(2)').html(resultWord(numOfResult));
                if (numOfResult > 0)
                {
                    $('#searchMessage a').removeClass('d-none');
                }
            }
        }

        function enterKeyOnSearch()
        {
            $("#searchInput").keyup(function(event)
            {
                if (event.keyCode === 13)
                {
                    $("#searchButton").click();
                }
            });
        }

        function initSearch()
        {
            $('#SearchDiv').html('{% spaceless %}{% include "SearchFragment.html.twig" %}{% endspaceless %}');
            enterKeyOnSearch();
            resultColor(numOfResult);
            displayResults();

            $("#searchButton").click(function()
            {
                var searchTerms = $("#searchInput").val();
                $('#SearchDiv').html('{% spaceless %}{% include 'SearchLoadingFragment.html.twig' %}{% endspaceless %}');
                $.ajax({
                    type: "POST",
                    url: "{{path('ajax_SearchBar')}}",
                    data: {searchTerms : searchTerms},
                    success: function(result)
                    {
                        numOfResult = result.NumOfResults;
                        initSearch();
                    },
                    error: function ()
                    {
                        $('#searchMessage').addClass('d-none');
                        $('#SearchDiv').html('{% spaceless %}{% include 'SearchErrorFragment.html.twig' %}{% endspaceless %}');
                    }
                });
            });
        }

    </script>
{% endblock %}