{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Nouveau !</strong> <a href="{{ path('LinkShortener') }}">Raccourcisseur de liens</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">
        {{ g_texts.getText("home")|raw }}
    </div>
    <div class="row">
        <a href="{{ path('LinkShortener') }}" class="btn btn-primary">Raccourcisseur de liens :)</a><br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            {% include 'Article_min_display.html.twig'  with {'lastArticle': true }%}
            <div class="card my-4">
                <h5 class="card-header">
                    Quelques projets
                </h5>
                <div class="card-body">
                    <div class="row">

                    {% for Project in Projects %}
                        <div class="col-md-6">
                            {% include 'Projects_display.html.twig' %}
                        </div>
                        <div class="col-md-offset-1"></div>
                    {% endfor %}
                    </div>
                    <a href="{{ path('Projects') }}" class="btn btn-primary">Voir tous les projets ({{ ProjectsNumbers }}) &rarr;</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card">
                <h5 class="card-header">Recherche sur le site</h5>
                <div class="card-body">
                    <div id="SearchDiv">

                    </div>
                </div>
            </div>

            <div class="my-4">
                <div class="card ">
                    <h5 class="card-header">Twitter</h5>
                    <a class="twitter-timeline"
                       href="https://twitter.com/guigur_com"
                       data-height="1000"
                       data-chrome="noheader nofooter noborders transparent"
                       {%  if app.request.cookies.get('dark') == "true" %} data-theme=dark {% endif %}
                       data-chrome="nofooter"
                       data-background-color="#FF0000">
                       Tweets by @guigur_com
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- <img class="imgViewer" src="{{ asset("img/article_default.png") }}"> -->

    <!--
    <div class="col-md-12">
        Content
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#guigurModal">
            Launch demo modal
        </button>
    </div>
    -->
    <div class="d-md-none phone-footer-spacer">
    </div>
{% endblock %}
{% block js %}
    <script>$('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });

        /****************************/

        var $image = $('.imgViewer');

        $image.viewer({

        });

        // Get the Viewer.js instance after initialized
        var viewer = $image.data('viewer');

        // View a list of images
        $('#images').viewer();

        /*****************************/
        var content = '';
        var numOfResult = -1;

        //content = content.replace(/[\r\n]+/g, '\n');
        initSearch();
        function initSearch()
        {
            $('#SearchDiv').html('{% include 'SearchFragment.html.twig' %}');

            if (numOfResult > -1)
            {
                //$('#searchMessage').removeClass('d-none');

               // $('#searchMessage span:first-child').html('X');
                //$('#searchMessage span:nth-child(2)').html('Résultat');
            }

            $("#searchButton").click(function() {
                var searchTerms = $("#searchInput").val();

                console.log("CLICK CLICK");
                $('#SearchDiv').html('{% include 'SearchLoadingFragment.html.twig' %}');

                $.ajax({
                    type: "POST",
                    url: "{{path('ajax_SearchBar')}}",
                    data: {searchTerms : searchTerms},
                    success: function(result)
                    {
                        $('#searchMessage:first-child').html('test');
                        numOfResult = result.NumOfResults;
                        $('#searchMessage span:first-child').html('99');
                        if (numOfResult === 0)
                        {
                            console.log("no results");
                        }
                        else if (numOfResult > 0)
                        {
                            console.log(numOfResult + " résult(s)");
                        }
                        console.log("DEBUG " + result.debug);
                        initSearch();
                    },
                    error: function ()
                    {
                        $('#SearchDiv').html('{% include 'SearchErrorFragment.html.twig' %}');
                        console.log("error");
                    }
                });

                // console.log("click search");
            });
        }

    </script>
{% endblock %}