{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Nouveau !</strong> <a href="{{ path('LinkShortener') }}">Raccourcisseur de liens</a>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">
        {{ g_texts.getText("home")|raw }}
    </div>
    <div class="row">
        <a href="{{ path('LinkShortener') }}" class="btn btn-primary">Raccourcisseur de liens :)</a><br />
    </div>
    <br />
    <div class="row">
        <div class="col-md-8">
            {% include 'Article_min_display.html.twig'  with {'lastArticle': true }%}
            <div class="card my-4">
                <h5 class="card-header">
                    Quelques projets
                </h5>
                <div class="card-body">
                    <div class="row">

                    {% for Project in Projects %}
                        <div class="col-md-6">
                            {% include 'Projects_display.html.twig' %}
                        </div>
                        <div class="col-md-offset-1"></div>
                    {% endfor %}
                    </div>
                    <a href="{{ path('Projects') }}" class="btn btn-primary">Voir tous les projets ({{ ProjectsNumbers }}) &rarr;</a>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card">
                <h5 class="card-header">Recherche sur le site</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input disabled type="text" class="form-control" placeholder="pas encore fini dsl">
                        <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                    </span>
                    </div>
                </div>
            </div>

            <div class="my-4">
                <div class="card">
                    <h5 class="card-header">Twitter</h5>
                    <a class="twitter-timeline"
                       href="https://twitter.com/guigur_com"
                       data-height="1000"
                       data-chrome="noheader nofooter noborders transparent"
                       {%  if app.request.cookies.get('dark') == "true" %} data-theme=dark {% endif %}
                       data-chrome="nofooter"
                       data-background-color="#FF0000">
                       Tweets by @guigur_com
                    </a>
                </div>
            </div>

        </div>
    </div>

    <img class="imgViewer" src="{{ asset("img/article_default.png") }}">

    <!--
    <div class="col-md-12">
        Content
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#guigurModal">
            Launch demo modal
        </button>
    </div>
    -->
{% endblock %}
{% block js %}
    <script>$('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })</script>


    <script>
        var $image = $('.imgViewer');

        $image.viewer({

        });

        // Get the Viewer.js instance after initialized
        var viewer = $image.data('viewer');

        // View a list of images
        $('#images').viewer();
    </script>
{% endblock %}