{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Guigur's links Shortener</h3>
                    <small>Pratique pour les QR Codes</small>
                        {{ dump(LinksUser) }}
                    <div class="table-responsive">

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Name</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Link</th>
                                <th scope="col">Url</th>
                                <th scope="col">Création </th>
                                <th scope="col">Last modif</th>
                                <th scope="col">is Active</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for LinkUser in LinksUser %}
                            <tr>
                                <th scope="row">{{ LinkUser.id }}</th>
                                <td>{{ LinkUser.name }}</td>
                                <td>{{ LinkUser.comment }}</td>
                                <td>guigur.com/l/<b>{{ LinkUser.link }}</b></td>
                                <td>{{ LinkUser.url }}</td>
                                <td>{{ LinkUser.dateCreated|date("m/d/Y H:i:s") }}</td>
                                <td>{{ LinkUser.dateLastModified|date("m/d/Y H:i:s") }}</td>
                                <td>

                                    <div class="btn-group-toggle l-btn" data-toggle="buttons" >
                                        <label class="btn btn-success">
                                            <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                                            <input class="btn-checkbox" type="checkbox" autocomplete="off" checked><span class="btn-text">On</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            console.log("ready");
            $('.l-btn').click(function(){
                var label = $(this).children("label");
                var checkbox = label.children("input");

                if(checkbox.prop("checked") === true)
                {
                    $(this).children("label").removeClass('btn-success').addClass('btn-warning');
                    label.children(".btn-text").text("Off");
                }
                else if(checkbox.prop("checked") === false)
                {
                    $(this).children("label").removeClass('btn-warning').addClass('btn-success');
                    label.children(".btn-text").text("On");
                }
            });
        });
    </script>
{% endblock body %}