{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                {{ Project.name }}<br />
                <small>{{ Project.descriptionShort }}</small>
            </h1>
            <div class="project_miniature" style="background:{% if Project.color is defined and Project.color != '' %}#{{ Project.color }}{% else %}b6b6b6{% endif %};">
                <img class="project_miniature_img" src="{{ asset(Project.imgProject) }}" />
            </div>
            <br />
            {{ Project.text|raw }}
            <br />
            <p><span class="glyphicon glyphicon-time"></span> Posté le {{ Project.postedDatetime|date("d/m/Y") }} par {{ Project.author }}</p>

        </div>
    </div>
{% endblock body %}
