{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
{{ dump(Project) }}
        <div class="col-md-12">
            <h1 class="page-header">
                {{ Project.name }}<br />
                <small>{{ Project.descriptionShort }}</small>
            </h1>
            <div class="project_miniature" style="background:{% if Project.imgProject == 'none' %}#{% if Project.color is defined and Project.color != '' %}{{ Project.color }}{% else %}b6b6b6{% endif %};{% else %} url({{ asset(Project.imgProject) }});{% endif %}"></div>
            {{ Project.text|raw }}


            <p><span class="glyphicon glyphicon-time"></span> Posté le {{ Project.datetime|date("m/d/Y") }} par {{ Project.author }}</p>

        </div>
    </div>
{% endblock body %}