<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Comment</th>
        <th scope="col">Link</th>
        <th scope="col">Url</th>
        <th scope="col">Création </th>
        <th scope="col">Last modif</th>
        <th scope="col">is Active</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody class="l-list">
    {% for LinkUser in LinksUser %}
        <tr>
            <td>{{ LinkUser.name }}</td>
            <td>{{ LinkUser.comment }}</td>
            <td>guigur.com/l/<b>{{ LinkUser.link }}</b></td>
            <td>{{ LinkUser.url }}</td>
            <td>{{ LinkUser.dateCreated|date("m/d/Y H:i:s") }}</td>
            <td>{{ LinkUser.dateLastModified|date("m/d/Y H:i:s") }}</td>
            <td>

                <button type="button" class="btn {% if LinkUser.isActive == TRUE %}btn-success{% else %}btn-warning{% endif %} l-btn-toggle" data-linkuser-id="{{ LinkUser.id }}">
                    <span class="btn-text">{% if LinkUser.isActive == TRUE %}On{% else %}Off{% endif %}</span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-info l-btn-edit" data-linkuser-id="{{ LinkUser.id }}">
                    <span class="fa fa-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger l-btn-delete" data-linkuser-id="{{ LinkUser.id }}">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>