{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Guigur's links Shortener</h3>
                    <small>Pratique pour les QR Codes</small>
                    <div class="table-responsive l-list">
                            {{ render(controller('GuigurFrontBundle:LinkShortener:links')) }}
                    </div>
<<<<<<< HEAD:guigur.com/src/GuigurFrontBundle/Resources/views/Default/linkShortener.html.twig

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ggr_modal">
                        Launch demo modal
=======
                    <button type="button" class="btn btn-primary" id="l-add">
                        <span class="fa fa-plus" aria-hidden="true"></span> Ajouter un lien
>>>>>>> dev:guigur.com/src/GuigurFrontBundle/Resources/views/LinkShortener/linkShortener.html.twig
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function init()
        {
            console.log("ready");
            $('.l-btn-toggle').click(function(){
                var selector = $(this);
                selector.html('<span class="spinner-border spinner-border-sm ggr-spinner-btn" role="status" aria-hidden="true"></span>');
                var id = selector.data('linkuser-id');
                $.ajax({
                    type: "POST",
                    url: "{{path('ajax_LinkShortenerToggle')}}",
                    data: {id : id},
                    success: function(result){
                        if (result.isActive === true)
                        {
                            selector.html('<span class="btn-text">On</span>');
                            selector.removeClass('btn-warning').addClass('btn-success');
                        }
                        else if (result.isActive === false)
                        {
                            selector.html('<span class="btn-text">Off</span>');
                            selector.removeClass('btn-success').addClass('btn-warning');
                        }
                    },
                    error: function () {
                        selector.html('<span class="fa fa-exclamation-triangle"></span>');
                        selector.removeClass('btn-success').addClass('btn-danger');
                    }
                });
            });

            $('.l-btn-delete').click(function(){
                var selector = $('.l-list');
                var height = selector.height();
                var id = $(this).data('linkuser-id');
                var offset = (height/2) - 16; //1em = 16px;
                selector.html('<div class="l-list-loader" style="height:'+height+'px; padding-top: '+offset+'px;"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');
/*
                $.ajax({
                    type: "POST",
                    url: "{{path('ajax_LinkShortenerDelete')}}",
                    data: {id : id},
                    success: function(result){
                        selector.html(result);
                        init();
                    }
                });
*/

                genModal("Are you sure ?", "Do you realy want to delete this link ?");


            });

            $('.l-btn-edit').click(function(){
                var selector = $('.l-list');
                var height = selector.height();
                var id = $(this).data('linkuser-id');
                var offset = (height/2) - 16; //1em = 16px;
                selector.html('<div class="l-list-loader" style="height:'+height+'px; padding-top: '+offset+'px;"><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></div>');

                $.ajax({
                    type: "POST",
                    url: "{{path('ajax_LinkShortenerEdit')}}",
                    data: {id : id},
                    success: function(result){
                        selector.html(result);
                        init();
                    }
                });

            });

<<<<<<< HEAD:guigur.com/src/GuigurFrontBundle/Resources/views/Default/linkShortener.html.twig
        }

        function genModal(title, content)
        {
            if (typeof title === "undefined" || typeof content === "undefined")
                return -1;
            else
            {
                var modalFooterContent = '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>';
                $('.modal-title').html(title);
                $('.modal-body').html(content);
                for (var i = 2; i < arguments.length; i++)
                {
                    if (typeof arguments[i] === "undefined")
                    console.log(arguments[i]);
                    $('.modal-footer').html(modalFooterContent);
                }

                $('#ggr_modal').modal('show');
            }
            return 1;
        }

        function deleteModal()
        {

=======
            $('#l-add').click(function(){

                modalCreator("Add a link", '{% spaceless %}{% include 'linkShortenerModalAdd.html.twig' %}{% endspaceless %}', ["add"]);
            });
>>>>>>> dev:guigur.com/src/GuigurFrontBundle/Resources/views/LinkShortener/linkShortener.html.twig
        }

        $(document).ready(function(){
            init();
        });
    </script>
{% endblock body %}

{% block js %}
    {{ parent() }}
<script src="{{ asset('js/jquery.qrcode.min.js') }}"></script>
<script>
    $('.qrcode').qrcode({width: 128,height: 128,text: $('.qrcode').data("qrcode-text")});

</script>
{% endblock js %}