{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <img src="{{ asset(g_imageChecker.defaultImage(app.user.img, 'user')) }}" alt="profile image of {{ user.username }}" class="rounded-circle img-profile" height="200" width="200" />
                    </div>
                    <div class="row justify-content-center" >
                        <span class="text-center profile_big_text">{{  user.username }}</span>
                    </div>
                    <div class="row justify-content-center" >
                        <span class="text-center profile_medium_text">
                            {% for role in user.roles %}
                                {% if role == 'ROLE_ADMIN' or role == 'ROLE_SUPER_ADMIN' %}<span class="text-danger">{% trans %}profile.admin{% endtrans %}</span><br />
                                {% elseif role == 'ROLE_SELLER' %}<span class="text-success">{% trans %}profile.seller{% endtrans %}</span><br />
                                {% elseif role == 'ROLE_USER' %}<span class="text-primary">{% trans %}profile.user{% endtrans %}</span><br />
                                {% else %}<span class="text-secondary">{{ role }}</span><br />
                                {% endif %}
                            {% endfor %}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-header">
                    <b>{% trans %}profile.information{% endtrans %}</b>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <tr>
                            <td><i class="fa fa-user"></i>&nbsp;&nbsp;{% trans %}profile.username{% endtrans %}</td>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-at"></i>&nbsp;&nbsp;{% trans %}profile.email{% endtrans %}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-calendar"></i>&nbsp;&nbsp;{% trans %}profile.registration{% endtrans %}</td>
                            <td>{{ user.registerDate|localizeddate }}</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-sign-in-alt"></i>&nbsp;&nbsp;{% trans %}profile.lastlogin{% endtrans %}</td>
                            <td>{{ user.lastLogin|localizeddate }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}