{% extends "base.html.twig" %}
{% block body %}
    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card" >
                <div class="admin_card_container">
                    <canvas height="220" id="register_chart_7"></canvas>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Inscriptions les 7 derniers jours</h5>
                    <p class="card-text">Inscriptions Totales: <br /><strong>{{ registerStats.registerTotal }} </strong></p>
                    <p class="card-text">Inscriptions les dernières 24h: <br /><strong>{{ registerStats.register24h }}&nbsp;</strong><span title="{{ registerStats.register24hPast }}" class="{{ registerStats.register24hIcon }}"></span></p>
                    <p class="card-text">Inscriptions les 7 dernièrs jours: <br /><strong>{{ registerStats.register7days }}&nbsp;</strong><span title="{{ registerStats.register7daysPast }}" class="{{ registerStats.register7daysIcon }}"></span></p>
                    <p class="card-text">Moyenne des inscriptions les 7 derniers jours: <br /><strong>{{ registerStats.registerMoy7days }}&nbsp;</strong><span title="{{ registerStats.registerMoy7daysPast }}" class="{{ registerStats.registerMoy7daysIcon }}"></span></p>
                    <a href="{{ path('admin_register') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card" >
                <div class="admin_card_container">
                    <canvas height="220" id="login_chart_7"></canvas>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Connexion les 7 derniers jours</h5>
                    <p class="card-text">Connexion Totales: <br /><strong>{{ loginStats.loginTotal }} </strong></p>
                    <p class="card-text">Connexion les dernières 24h: <br /><strong>{{ loginStats.login24h }}&nbsp;</strong><span title="{{ loginStats.login24hPast }}" class="{{ loginStats.login24hIcon }}"></span></p>
                    <p class="card-text">Connexion les 7 dernièrs jours: <br /><strong>{{ loginStats.login7days }}&nbsp;</strong><span title="{{ loginStats.login7daysPast }}" class="{{ loginStats.login7daysIcon }}"></span></p>
                    <p class="card-text">Moyenne des connexion les 7 derniers jours: <br /><strong>{{ loginStats.loginMoy7days }}&nbsp;</strong><span title="{{ loginStats.loginMoy7daysPast }}" class="{{ loginStats.loginMoy7daysIcon }}"></span></p>
                    <a href="{{ path('admin_login') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="admin_card_container">
                    <canvas height="220" id="visit_chart_7"></canvas>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Visites les 7 derniers jours</h5>
                    <p class="card-text">Visites Totales: <br /><strong>{{ visitsStats.visitsTotal }} </strong></p>
                    <p class="card-text">Visites les dernières 24h: <br /><strong>{{ visitsStats.visits24h }}&nbsp;</strong><span title="{{ visitsStats.visits24hPast }}" class="{{ visitsStats.visits24hIcon }}"></span></p>
                    <p class="card-text">Visites les 7 dernièrs jours: <br /><strong>{{ visitsStats.visits7days }}&nbsp;</strong><span title="{{ visitsStats.visits7daysPast }}" class="{{ visitsStats.visits7daysIcon }}"></span></p>
                    <p class="card-text">Moyenne des visites les 7 derniers jours: <br /><strong>{{ visitsStats.visitsMoy7days }}&nbsp;</strong><span title="{{ visitsStats.visitsMoy7daysPast }}" class="{{ visitsStats.visitsMoy7daysIcon }}"></span></p>
                    <a href="{{ path('admin_visits') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <p>
            <a href="{{ path('Homepage') }}" class="btn btn-squared-default-plain btn-primary">
                <i class="fa fa-home fa-5x"></i>
                <br />
                <br />
                Accueil
            </a>
            <a href="{{ path('admin_texts') }}" class="btn btn-squared-default-plain btn-primary">
                <i class="fa fa-font fa-5x"></i>
                <br />
                <br />
                Texts
            </a>
            <a href="{{ path('admin_texts') }}" class="btn btn-squared-default-plain btn-primary">
                <i class="fa fa-users fa-5x"></i>
                <br />
                <br />
                Users
            </a>
            <a href="{{ path('admin_shop') }}" class="btn btn-squared-default-plain btn-primary">
                <i class="fa fa-euro-sign fa-5x"></i>
                <br />
                <br />
                Magasin
            </a>
        </p>
    </div>
{% endblock %}
{% block js %}
    <script>
        new Chart($("#visit_chart_7"), {
            type: 'line',
            data: {
                labels: [{% for visitsDay in visitsDays %}"{{ visitsDay.date|date("d M") }}",{% endfor %}],
                datasets: [{
                    label: false,
                    data: [{% for visitsDay in visitsDays %}"{{ visitsDay.visits }}",{% endfor %}],
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
        new Chart($("#login_chart_7"), {
            type: 'line',
            data: {
                labels: [{% for loginDay in loginDays %}"{{ loginDay.date|date("d M") }}",{% endfor %}],
                datasets: [{
                    label: false,
                    data: [{% for loginDay in loginDays %}"{{ loginDay.login }}",{% endfor %}],
                    backgroundColor: ['rgba(76, 175, 80, 0.2)'],
                    borderColor: ['rgba(56, 142, 60, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
        new Chart($("#register_chart_7"), {
            type: 'line',
            data: {
                labels: [{% for registerDay in registerDays %}"{{ registerDay.date|date("d M") }}",{% endfor %}],
                datasets: [{
                    label: false,
                    data: [{% for registerDay in registerDays %}"{{ registerDay.register }}",{% endfor %}],
                    backgroundColor: ['rgba(255, 87 , 34, 0.2)'],
                    borderColor: ['rgba(230, 74, 25, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}