{% extends "base.html.twig" %}
{% block body %}
    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <div class="row">
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="card" >
                <canvas height="200" id="register_chart_7"></canvas>

                <div class="card-body">
                    <h5 class="card-title">Incriptions les 7 derniers jours</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="admin_card_container">
                    <canvas height="200" id="connection_chart_7"></canvas>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Connexions les 7 derniers jours</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Voir plus</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3">

            <div class="card">
                <div class="admin_card_container">
                    <canvas height="220" id="visit_chart_7"></canvas>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Visites les 7 derniers jours</h5>
                    <p class="card-text">Visites Totales: <br /><strong>{{ visitsStats.visitsTotal }} </strong></p>
                    <p class="card-text">Visites les dernières 24h: <br /><strong>{{ visitsStats.visits24h }}&nbsp;</strong><span title="{{ visitsStats.visits24hPast }}" class="{{ visitsStats.visits24hIcon }}"></span></p>
                    <p class="card-text">Visites les 7 dernièrs jours: <br /><strong>{{ visitsStats.visits7days }}&nbsp;</strong><span title="{{ visitsStats.visits7daysPast }}" class="{{ visitsStats.visits7daysIcon }}"></span></p>
                    <p class="card-text">Moyenne des visites les 7 dernièrs jours: <br /><strong>{{ visitsStats.visitsMoy7days }}&nbsp;</strong><span title="{{ visitsStats.visitsMoy7daysPast }}" class="{{ visitsStats.visitsMoy7daysIcon }}"></span></p>
                    <a href="{{ path('admin_visits') }}" class="btn btn-primary">Voir tout</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>tinymce.init({ selector:'.tinymce' });</script>
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script>
        new Chart($("#visit_chart_7"), {
            type: 'line',
            data: {
                labels: [{% for visitsDay in visitsDays %}"{{ visitsDay.date }}",{% endfor %}],
                datasets: [{
                    label: false,
                    data: [{% for visitsDay in visitsDays %}"{{ visitsDay.visits }}",{% endfor %}],
                    backgroundColor: ['rgba(54, 162, 235, 0.2)'],
                    borderColor: ['rgba(54, 162, 235, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}